* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
}

.navbar {
    width: 100%;
    height: 67px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    z-index: 2;
    /* position: absolute; */
    color: white;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: white;
    color: black;
}

.navbar .left {
    height: 100%;
    width: 8%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    right: 10%;
}

.navbar .left img {
    width: 100%;
    height: 90%;
}

.hamburger {
    width: 50px;
    height: 40px;
    display: none;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;

}

.hamburger div {
    width: 100%;
    height: 3px;
    background-color: rgb(254, 179, 30);

}

.navbar .right {
    height: 100%;
    width: 50%;
    position: relative;
    right: -10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar .right .list {
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}

.navbar .right .list-Item {
    width: auto;
}

.navbar a {
    text-decoration: none;
    font-size: 14px;
    color: black;
}

.navbar p {
    font-size: 14px;
}

.donate-btn {
    background-color: rgb(254, 179, 30);
    height: 100%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    height: 50%;
    padding: 15px;
    border-radius: 20px;
}

.donate-btn p {
    font-size: 15px;
}

.banner {
    background-image: url('../images/slider-2.jpg');
    background-size: cover;
    height: 40vh;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner h1 {
    color: white;
    font-size: 43px;
}
.recent-campaign {
    width: 70%;
    margin: auto;
    padding-top: 100px;
    padding-bottom: 100px;
}

.recent-campaign h1 {
    width: 60%;
    font-size: 40px;
    font-weight: 900;
}

.viewAll {
    background-color: rgb(254, 179, 30);
    position: relative;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    border-radius: 20px;
    float: right;
    margin-top: -40px;
}

.viewAll p {
    font-size: 15px;
    font-weight: 900;
    color: white;
}


.row {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-bottom: 60px;
    padding-top: 30px;
}

.campaign-item {
    width: 45%;
    padding: 10px;
    /* border: 0.5px solid rgb(209, 207, 207); */
    border-radius: 20px;
    box-sizing: border-box;
    box-shadow: 0px 3px 20px 4px rgb(228, 226, 226)
}

.item-image {
    width: 100%;
    height: 40vh;
    border-radius: 20px;
    overflow: hidden;
}

.item-image img {
    width: 100%;
    height: 100%;
}

.lower {
    width: 90%;
    margin: auto;
}

.campaign-item h3 {
    padding-top: 20px;
    font-size: 25px;
    font-weight: 900;
    padding-bottom: 20px;
}

.campaign-info {
    display: flex;
    width: 90%;
    justify-content: space-between;
    padding-bottom: 20px;
}

.info p {
    font-size: 13px;
    font-weight: 900;
    padding-bottom: 10px;
    color: grey;
}

.progressbar {
    width: 90%;
    height: 15px;
    box-sizing: border-box;
    background-color: rgba(231, 225, 225, 0.377);
    border-radius: 10px;
    overflow: hidden;
}

.progress {
    height: 100%;
    width: 75%;
    background-color: rgb(254, 179, 30);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}

.progress p {
    font-size: 12px;
    font-weight: 900;
    color: white;
}

.lowest {
    display: flex;
    padding-top: 30px;
    padding-bottom: 10px;
}

.recent-campaign .donate-btn {
    height: 40px;
    width: 30%;
    justify-content: center;
    font-weight: 900;
    color: white;
}

.program-details {
    height: 40px;
    width: 30%;
    border: 2px solid rgb(254, 179, 30);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    margin-left: 30px;
    color: rgb(254, 179, 30);
    font-weight: 900;
    font-size: 14px;
}


.fourth-sec {
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url('../images/slider-3.jpg');
    background-size: cover;
}


.fourth-sec p {
    color: rgb(254, 179, 30);
    font-size: 20px;
    font-weight: 900;
}

.fourth-sec h1 {
    color: white;
    width: 65%;
    text-align: center;
    font-size: 40px;
}
.fourth-sec .btn{
    height: 40px;
    background-color: rgb(254, 179, 30);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    box-sizing: border-box;
    border-radius: 20px;
    margin-top: 10px;
    transition: all 0.4s ease-in-out;
    cursor: pointer;
}
.fourth-sec .btn p{
    color: white;
    font-size: 15px;
    transition: all 0.4s ease-in-out;

}
.fourth-sec .btn:hover{
    background-color: transparent;
    border: 2px solid  rgb(254, 179, 30);
    transition: all 0.4s ease-in-out;
}
.fourth-sec .btn:hover p{
    color:  rgb(254, 179, 30);
    transition: all 0.4s ease-in-out;

}

.counter {
    display: flex;
    width: 70%;
    margin: auto;
    position: absolute;
    height: 115px;
    background-color: rgb(254, 179, 30);
    border-radius: 10px;
    margin-top: -50vh;
    color: white;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 3px 10px 2px rgb(203, 202, 202);
}

.count-item {
    border-left: 2px solid rgba(255, 255, 255, 0.595);
    width: 25%;
    height: 90%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.count-item h3{
    font-size: 40px;
}
.count-item p{
    color: white;
}
.count-item p:nth-child(2) {
    font-size: 14px;
    font-weight: 900;
}

.count-item:nth-child(1) {
    border-left: 0px;
}

.footer {
    height: 75px;
    width: 100%;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(232, 231, 231);
}

.footer .first,
.second,
.third {
    height: 100%;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.footer i {
    background-color: rgb(208, 204, 204);
    border-radius: 50%;
    padding: 10px;
    margin: 5px;
}

.footer .second {
    flex-direction: column;
    width: fit-content;
}

.footer .second .upper-tc {
    display: flex;
    font-size: 13px;
    font-weight: 900;
    padding-bottom: 10px;
}

.footer .second .upper-tc p:nth-child(1) {
    padding-right: 10px;
    margin-right: 10px;
    border-right: 1px solid grey;
}

.lower-copy {
    font-size: 15px;
    font-weight: 900;
}

.footer .third img {
    width: 30%;
    height: 100%;
}